body {
    margin: 0;
    background-color: #000;
    color: rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url(cursor.png), default
}

.image-container {
    margin-top: 6rem; 
    text-align: center; 
}

img {
    width: 7rem;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    max-width: 400px;
    text-align: center;
    text-transform: lowercase;
    color: rgb(163, 163, 163);
    margin-top: -1rem; 
}

.box-small {
    margin-top: 1rem;
    margin-bottom: 0.67rem; 
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #262626;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.box {
    margin-top: 4rem; 
    background-color: rgba(0, 0, 0, 0.8);
    border: 1.2px solid #262626;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
    padding: 1rem 1rem 1.5rem;
    text-transform: lowercase;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    max-width: 260px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto; 
}

.box a {
    color: #FFFFFF;
    text-decoration: none; 
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    width: fit-content;
    margin: 0.33rem 0; 
    cursor: pointer;
    text-transform: lowercase;
    transition: color 0.2s ease-in-out;
}

.box a:hover {
    color: #d3d1d1;
    text-decoration: underline;
}

.box-footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    text-transform: lowercase;
    color: rgb(189, 188, 188);
    margin-top: 1rem;
    transition: color 0.1s ease-in-out;
}

.box-footer a:hover {
    color: #a3a3a3; 
}